nav {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
}
a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav > div{
    width: 33%;
    display: flex;
    align-items: center;
}
img {
    height: 50px;
}
.left{
    justify-content: flex-start;
}
.right{
    justify-content: flex-end;
}
.center{
    justify-content: center;
}
