nav {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
}
a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav > div{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 50px;
}

.signIn a{
    font-weight: bold;
    color: black;
    background: red;
    border-radius: 20px;
    padding: 5px;
}
video{
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
}